 /* Top Hero section Start */
      body {
        font-family: "Open Sans", sans-serif;
      }
      .top-sec {
        background-color: black;
        border-radius: 20px;
        margin-bottom: 20px;
      }
      .hero-sec {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .hero-text {
        color: white;
        width: 50%;
        padding: 20px;
      }
      .hero-text h1 {
        font-size: 4rem;
        font-weight: bold;
      }

      .hero-img {
        width: 50%;
      }
      .hero-img img {
        padding-left: 60px;
        width: 80%;
      }
      .btn {
        background-color: red;
        color: white;
        padding: 10px;
      }
      /* Top/Hero section End */

      .section2 {
        margin: 0 auto;

        flex-wrap: wrap;

        display: flex;
        align-items: center;
      }
      .section2-left {
        width: 18%;
        display: block;
        flex-direction: column;
        height: 150px;
        margin: 0 auto;
      }
      .section2-left button {
        display: block;
        text-align: center;
        padding: 20px;
        border: none;
        background-color: wheat;
        color: black;
        width: 200px;
        border-radius: 8px;
        margin-top: auto;
        margin-bottom: auto;
      }
      .section2-left .blog {
        background-color: red;
        color: white;
      }
      .section2-right {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .card {
        padding: 20px;
      }
      .section2-right img {
        width: 100%;
      }
      .sec2-right-content {
        padding: 10px;
      }
      button {
        margin: 0;
        padding: 5px;
        border-radius: 8px;
      }
      p small {
        margin: 0px;
        padding: 5px;
      }
      /* footer Statr */
      .footer{
        background-color: black;
        width: 100%;
        height: 200px;
        color: white;
        margin: 0 auto;
        
        
      }
      .content{
        margin: 0 auto;
      }
      .content h1{
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
      }
      .content a{
        margin: 20px;
        padding-top: 20px;
        text-decoration: none;
        color: white;
        
        text-align: center;
        position: relative;
        left: 20%;
      }
      /* footer End */
      
      /* --------------
      Responsive for Tablet
      ----------------- */
      @media screen and (max-width:768px) {
        .top-sec {
            background-color: rgb(46, 1, 57);
            border-radius: 20px;
            margin-bottom: 20px;
          }
        .hero-text {
            color: white;
            width: 50%;
            padding: 20px;
          }
          .hero-text h1 {
            font-size: 2rem;
            font-weight: bold;
          }
    
          .hero-img {
            width: 50%;
          }
          .hero-img img {
            padding-left: 60px;
            width: 80%;
     }

     /* --------Section 2 Tablet Responsive start------ */
     .section2 {
        margin: 0 auto;
        
        

        display: flex;
        align-items: center;}

     .section2-left {
        width: 100%;
        display: inline;
        
        order: 1;
        height: 150px;
        margin: 0 auto;
      }
      .sec2-left-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .section2-left button {
        display: inline;
        text-align: center;
        padding: 20px;
        border: none;
        background-color: wheat;
        color: black;
        width: 200px;
        border-radius: 8px;
        margin: 10px;
    }

        .section2-right {
            flex-direction: row;
            align-items: center;
           justify-content: center;
            display: grid;
            grid-template-columns: 50% 50%;
            order: 2;
          }
        .footer{order: 3;
            display: flex;
        flex-direction: column;
         justify-content: center;
        align-items: center;
        left: 0px;
        }
    }
     /* --------------
      Tablet Responsive End 
      ----------------- */

      /* --------------
      Mobile Responsive Start   
      ----------------- */
      @media screen and (max-width:576px) {
             
      }
       /* --------------
      Mobile Responsive Start   
      ----------------- */


